---
layout: default
---

<h1 style="text-align: center;" class="title">{{ page.title }}{% if page.subtitle %} <span class="subtitle">{{ page.subtitle }}</span>{% endif %}
</h1>

{% if page.date %}
  <p style="text-align: center;">{{ page.date | date: "%Y-%m-%d" }}</p>
{% endif %}
<!-- {% if page.video.id %}
<div class="youtube-wrapper" style="padding-bottom: {{ page.video.aspect }}%;">
  <iframe src="https://www.youtube.com/embed/{{ page.video.id }}" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% elsif page.video %}
<p class="center gap accent"><strong>Lecture video coming soon!</strong></p>
{% endif %} -->

{{ content }}

<hr>

<script src="https://giscus.app/client.js"
        data-repo="ZhangZhehua66/ZhangZhehua66.github.io"
        data-repo-id="R_kgDOOONCPA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOONCPM4CweZ5"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

<div class="small center">
<p>Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA</a>.</p>
</div>